{% extends 'base.html' %}
{% load guardian_tags %}
{% load static %}

{% block og-title %}Guide: {{ guide.title }}{% endblock %}
{% block og-description %}{{ guide.overview }}{% endblock %}
{% block og-type %}article{% endblock %}
{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'guides/css/codehilite.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'guides/css/guide_detail.css' %}" />
  <meta property="article:published_time" content="{{ guide.pub_datetime }}">
  <meta property="article:modified_time" content="{{ guide.edit_datetime }}">
  <meta property="article:author:username" content="{{ guide.author.first_name }}">
  <meta property="article:section" content="Programming">
  {# <meta property="article:tag" content=... #}
{% endblock %}

{% block body %}
  <br>
  <h2 class="guide-title">{{ guide.title }}</h2>
  <div class="author-info row">
    {# <img class="small author-image" src="{{ author_discord.avatar_url }}"> #}
    <div class="col">
      <cite class="h5">
        written by<a class="strong no-underline" href="{% url 'profiles:detail' guide.author.id %}">
          @{{ guide.author.first_name }}
        </a>
        on {{ guide.pub_datetime|date }}
      </cite>
    </div>
    {% if request.user == guide.author or perms.guide.change_guide %}
      <div class="col push-right">
        <a href="{% url 'guides:edit' guide.id %}" style="color:deepskyblue;text-decoration:none;">&#128394;</a>
        <a href="{% url 'guides:delete' guide.id %}" class="h3" style="color:red;text-decoration:none;">&times;</a>
      </div>
    {% endif %}
  </div>
  <hr>
  <article>
    {{ guide.content }}
  </article>
  {% if request.user.is_anonymous or request.user.groups.all.0.name == 'Guest' %}
    <br>
    <i class="muted">Want to talk to <strong>{{ guide.author.first_name }}</strong> about this article? Come <a href="https://discord.gg/010z0Kw1A9ql5c1Qe">join us</a>!</i>
  {% endif %}
{% endblock %}
