{% extends 'base.html' %}
{% load static %}

{% block og-title %}Guide: {{ guide.title }}{% endblock %}
{% block og-description %}{{ guide.overview }}{% endblock %}
{% block og-type %}article{% endblock %}
{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'guides/css/codehilite.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'guides/css/detail.css' %}" />
  <meta property="article:published_time" content="{{ guide.pub_datetime }}">
  <meta property="article:modified_time" content="{{ guide.edit_datetime }}">
  <meta property="article:author:username" content="{{ guide.author.first_name }}">
  <meta property="article:section" content="Programming">
  {# <meta property="article:tag" content=... #}
{% endblock %}

{% block body %}
  <br>
  <h2 class="guide-title">{{ guide.title }}</h2>
  <div class="author-info">
    {# <img class="small author-image" src="{{ author_discord.avatar_url }}"> #}
    <cite class="h5">written by {{ guide.author.first_name }} on {{ guide.pub_datetime|date }}</cite>
  </div>
  <hr>
  <article>
    {{ guide.content }}
  </article>
{% endblock %}