{% extends 'base.html' %}
{% load guardian_tags %}
{% load socialaccount %}
{% load static %}

{% block og-title %}Programming Discord Server: Guides{% endblock %}
{% block og-description %}Read our member's guides on various topics about programming.{% endblock %}
{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'guides/css/guide_list.css' %}" />
{% endblock %}
{% block body %}
  <br>
  <div class="group">
    <h2 class="float-left">Guides</h2>
    {% if perms.guides.add_guide %}
      <a class="float-right button" href="{% url 'guides:create' %}">Create</a>
    {% endif %}
  </div>
  <p class="large">Here we collect community-driven guides and tutorials for programming, our server, and more. Want to add something? Feel free to write your own!</p>
  <h3>New Guides</h3>
  <hr>
  <form action="{% url 'guides:index' %}" method="GET">
      <div id="search-key">
        <input type="text" placeholder="Search guides" name="term">
      </div>
      <input type="submit" value="Search" id="search-button">
  </form>
  <hr>
  {% for guide in latest_guides %}
    {% if forloop.first %}
      <ul class="guide-list">
    {% endif %}
      <li>
        <div class="row">
          <div class="col">
            <h4 class="guide-list-item-title">
              <a class="no-underline" href="{% url 'guides:detail' guide.id %}">{{ guide.title }}</a>
            </h4>
          </div>
          {% if request.user == guide.author or perms.guides.change_guide %}
            <div class="col push-right">
              <a href="{% url 'guides:edit' guide.id %}" style="color:deepskyblue;text-decoration:none;">&#128394;</a>
              <a href="{% url 'guides:delete' guide.id %}" class="h3" style="color:red;text-decoration:none;">&times;</a>
            </div>
          {% endif %}
        </div>
        <p class="guide-list-item-subtitle muted">
          written by
          {% get_social_accounts guide.author as accounts %}
          {% if accounts and accounts.discoauth %}
            <a class="strong no-underline" href="{% url 'profiles:detail' accounts.discoauth.0.uid %}">
              @{{ guide.author.first_name }}
            </a>
          {% else %}
            <strong>{{ guide.author.username }}</strong>
          {% endif %}
          on {{ guide.pub_datetime|date }}
        </p>
        <p>{{ guide.overview }}</p>
      </li>
    {% if forloop.last %}
      </ul>
    {% endif %}
  {% empty %}
    <i>Hmm... Seems like there's nothing here yet.</i>
  {% endfor %}
  {% if is_paginated %}
    <nav class="pagination align-center">
      <ul>
        {% if page_obj.has_previous %}
          <li><a href="?page={{ page_obj.previous_page_number }}"></a></li>
        {% endif %}
        <li>
          <a href="#">Page <strong>{{ page_obj.number }}</strong> of <strong>{{ page_obj.paginator.num_pages }}</strong></a>
        </li>
        {% if page_obj.has_next %}
          <li><a href="?page={{ page_obj.next_page_number }}">></a></li>
        {% endif %}
      </ul>
    </nav>
  {% endif %}
{% endblock %}
