{% extends 'base.html' %}

{% block body %}
  <br>
  <div class="group">
    <h2 class="float-left">Guides</h2>
    {% if user.is_member %}
      <a class="float-right button" href="{% url 'guides:create' %}">Create</a>
    {% endif %}
  </div>
  <p class="large">Here we collect community-driven guides and tutorials for programming, our server, and more. Want to add something? Feel free to write your own!</p>
  <div class="row gutters">
    <div class="col col-12">
      <h3>New Guides</h3>
        {% for guide in latest_guides %}
          {% if forloop.first %}
            <ul>
          {% endif %}
            <li>
              <b><a href="{% url 'guides:detail' guide.id %}">{{ guide.title }}</a></b>
              <p>{{ guide.overview }}</p>
            </li>
          {% if forloop.last %}
            </ul>
          {% endif %}
        {% empty %}
          <i>Hmm... Seems like there's nothing here yet.</i>
        {% endfor %}
    </div>
  </div>
{% endblock %}