{% extends "base.html" %}
{% block body %}
  <div class="row align-center" style="padding-top: 5em;">
    <div class="col col-8">
      <h1 class="text-center">The Programming Discord Server.</h1>
    </div>
  </div>
  <br>
  <div class="row align-center">
    <a href="https://discord.gg/010z0Kw1A9ql5c1Qe" target="_blank" class="button large text-center" role="button">
      <span class="monospace">member_count++</span>
    </a>
  </div>
  <br>
  <br>
  <div>
    <div class="row gutters">
      <div class="col col-4" style="text-align: center;">
        <h3>Channels for anything.</h3>
        <p>Want to talk about C++, or prefer a casual chat? We got you covered.</p>
      </div>
      <div class="col col-4" style="text-align: center;">
        <h3>{{ total_members }} members and counting.</h3>
        <p>Created in 2016, we're a constantly growing community for all topics you can imagine about programming.</p>
      </div>
      <div class="col col-4" style="text-align: center;">
        <h3>Regular community events.</h3>
        <p>Join us in various events such as building a project on our <a href="https://github.com/strinking">GitHub organization</a> or programming in a hackathon!</p>
      </div>
    </div>
  </div>
{% endblock %}
