[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

django = "==2.0.3"
allauth = {git = "https://github.com/Volcyy/django-allauth"}
requests = "==2.18.4"


[requires]

python_version = "3.6"
