{% extends 'base.html' %}
{% load socialaccount %}
{% load widget_tweaks %}

{% block body %}
  <br>
  <h1>Edit your profile</h1>
  <p>
    Want to edit your username or discriminator?
    As we get this information from Discord's OAuth 2 provider, please
    change it there and log out and back in to update
    the OAuth 2 data that we have on our servers.
  </p>
  <p>
    Alternatively, you can set the <b>Restrict processing</b>
    flag below and request a manual change of your data if
    there is any issue with this - however, keep in mind that
    we may refresh this information from OAuth, overriding your changes.
  </p>
  <form class="form" method="post">
    {% csrf_token %}
    <div class="form-item">
      <label for="id_restrict_processing">Restrict processing<span class="desc">{{ form.restrict_processing.help_text }}</span></label>
      {% render_field form.restrict_processing %}
    </div>
    <input class="button" type="submit" value="Update" />
  </form>
  <p>
    Not happy with just making your profile invisible?
    You can delete your profile by clicking the big red button below.
    Don't worry, it's going to prompt you before it actually happens,
    and show you what exactly it's going to delete.
  </p>
  {% get_social_accounts user as accounts %}
  {% if accounts and accounts.discoauth %}
    <a href="{% url 'profiles:delete' accounts.discoauth.0.uid %}" class="button" role="button">Delete</a>
  {% else %}
    {# If the user managed to visit this page, this should never happen anyways, #}
    {# but let's provide some information regardless incase something goes wrong. #}
    <mark>
      There should be a delete button here, but this requires
      a connected Discord account to generate an URL to delete
      your account. Contact an Administrator if you encounter this text.
    </mark>
  {% endif %}
{% endblock %}
