body {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 2em;
    background-color: white !important;
}

@media only screen and (max-width: 900px) {
    .hide-on-small {
        display: none;
    }
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #d0d0d0;
}

.navbar {
    display: flex;
}

.nav-title {
    margin-right: auto;
}

.nav-link {
    margin-left: 1em;
    margin-right: 1em;
    font-weight: bolder;
}

a {
    text-decoration: none;
}
