{% extends 'base.html' %}

{% block title %}{{ user.first_name }}'s profile{% endblock %}
{% block og-title %}Programming Discord Server: {{ user.first_name }}'s profile{% endblock %}
{% block og-type %}profile{% endblock %}
{% block og-description %}
  {{ user.first_name }} has been a registered user on this website since {{ user.date_joined|date }}.
  Visit their profile to learn more about them.
{% endblock %}
{% block head %}
  <meta property="og:profile:username" content="{{ user.first_name }}">
{% endblock %}

{% block body %}
  <br>
  {# <img src="{{ user.get_avatar_url }}"> #}
  <h1>{{ user.first_name }}<span class="muted">#{{ user.last_name }}</span></h1>
  <p>
    {{ user.first_name }} has been a registered user on this website since {{ user.date_joined|date }}.
    On Discord, they are {% if is_admin %}part of staff{% elif is_member %}a member{% else %}a guest{% endif %}.
  </p>
{% endblock %}