.guide-list {
    list-style: none;
}

.guide-list-item-title {
    margin-bottom: -0.2em;
}

.guide-list-item-subtitle {
    padding-top: 0;
    margin-bottom: 0.5em;
}

.no-underline {
    text-decoration: none;
}

#search-button{
    position: relative;
    right: -535px;
    top: -40px;
    color: white;
    background-color: #1c86f2;
}

#search-key{
    width: 90%;
}
