.guide-list {
    list-style: none;
}

.guide-list-item-title {
    margin-bottom: -0.2em;
}

.guide-list-item-subtitle {
    padding-top: 0;
    margin-bottom: 0.5em;
}

.no-underline {
    text-decoration: none;
}

#search-button{
    position: relative;
    top: -44px;
    background-color: #1c86f2;
    color: white;
    width: 90px;
}

#search-key{
    width: 600px;
    position: relative;
    bottom: -20px;
}

@media screen and (max-width: 768px){
    #search-button{
        right: -300px;
    }
    #search-key{
        width: 390px;
    }
}
