{% extends 'base.html' %}
{% load static %}

{% block title %}{{ user.first_name }}'s profile{% endblock %}
{% block og-title %}Programming Discord Server: {{ user.first_name }}'s profile{% endblock %}
{% block og-type %}profile{% endblock %}
{% block og-description %}
  {{ user.first_name }} has been a registered user on this website since {{ user.date_joined|date }}.
  Visit their profile to learn more about them.
{% endblock %}
{% block head %}
  <meta property="og:profile:username" content="{{ user.first_name }}">
  <link rel="stylesheet" type="text/css" href="{% static 'profiles/css/user_detail.css' %}">
{% endblock %}

{% block body %}
  <br>
  {# <img src="{{ user.get_avatar_url }}"> #}
  {% if socialaccount is not None %}
    <h1>{{ user.first_name }}<span class="muted">#{{ socialaccount.extra_data.discriminator }}</span></h1>
  {% else %}
    <h1>{{ user.first_name }}</h1>
  {% endif %}
  <p>
    {{ user.first_name }} has been a registered user on this website since {{ user.date_joined|date }}.
  </p>
  {% for guide in user.guide_set.all %}
    {% if forloop.first %}
      <hr>
      <h3>Guides written by {{ user.first_name }}</h3>
      <ul>
    {% endif %}
    <li>
      <strong>
        <a class="no-underline" href="{% url 'guides:detail' guide.id %}">
          {{ guide.title }}
        </a>
      </strong>
      <span class="muted"> published on {{ guide.pub_datetime|date }}</span>
    </li>
    {% if forloop.last %}
      </ul>
    {% endif %}
  {% endfor %}
{% endblock %}
