{% load socialaccount %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}Programming Discord Server{% endblock %}</title>

  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/kube.css' %}" />

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:title" content="{% block og-title %}Programming Discord Server{% endblock %}">
  <meta property="og:type" content="{% block og-type %}website{% endblock %}">
  <meta property="og:image" content="{% static 'assets/logo.png' %}">
  <meta property="og:url" content="{{ request.get_full_path }}">
  <meta property="og:site_name" content="The Programming Discord Server">
  <meta property="og:description" content="{% block og-description %}Your programming journey starts here.{% endblock %}">
  {% block head %}{% endblock %}
</head>

<body class="max-w-big push-center">
<nav class="row">
  <div class="col col-2">
    <code class="monospace label text-left">
      {% if request.user.is_authenticated %}
        {# If the user has their Discord account connected, show that #}
        <a class="black strong" href="{% url 'home:profile' user.id %}">{{ request.user.first_name }}</a>@programming$
      {% else %}
        {# If the user is not logged in, provide a link to Discord OAuth #}
        <a class="black strong" href="{% provider_login_url 'discord' next='/' %}">$(YOUR_NAME)</a>@programming$
      {% endif %}
    </code>
  </div>
  <div class="col push-center">
    <a href="{% url 'home:index' %}">Home</a>
    &nbsp;
    <a href="{% url 'guides:index' %}">Guides</a>
    &nbsp;
    <a href="{% url 'stats:index' %}">Statistics</a>
  </div>
</nav>
{% if messages %}
  {% for message in messages %}
    <li>
      <div class="message {{ message.tag }}" data-component="message">
        {{ message }}
        <span class="close small"></span>
      </div>
    </li>
  {% endfor %}
{% endif %}
{% block body %}{% endblock %}
{% if messages %}
  <script src="{% static 'js/kube.min.js' %}"></script>
{% endif %}
</body>
</html>
